body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;      /* 使侧边栏和主内容并排 */
    height: 100vh;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    text-align: center;
    border: none;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

.sidebar {
    width: 80px;
    background-color: #e2eAf4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
}

/* 图标样式 */
.sidebar-icon {
    margin: 20px 0;
    text-align: center;
    display: block;
}

.sidebar-icon img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s, opacity 0.3s;
}

.sidebar-icon:hover img {
    transform: scale(1.1);
    opacity: 0.8;
}

/* 主内容样式 */
.main-content {
    flex: 1;
    padding: 20px;
    background-color: #ecf0f1;
    min-width: 0;
}

/* 链接无下划线 */
a {
    text-decoration: none;
}
